:root {
    --cinza-medio: #667085;
    --preto-principal: #101828;
    --vinho: #8E2424;
    --fonte-principal: 'Inter', sans-serif; 
    --fundo-rosa-titulo: rgba(142, 36, 36, 0.05);
    --fundo-rosa-sessao: rgba(195, 25, 25, 0.03);   
}

.container {
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "apresentacao"
    "metricas"
    "conteudo"
    "vagas"
    "depoimento"
    "rodape"
    ;
    font-family: var(--fonte-principal);
    row-gap: 4em;
}

/* cabeçalho */
.cabecalho {
    display: grid;
    grid-area: cabecalho;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    color: var(--cinza-medio);
    font-weight: 500;
    margin: 2em 4em;    
}

.cabecalho__navegacao-lista {
    display: grid;
    grid-auto-flow: column;    
    justify-content: flex-start;
    column-gap: 2em;
}

.cabecalho__login {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    column-gap: 2em;
    align-items: center;
}

.cabecalho__login-entrar,
.cabecalho__login-cadastrar {
    text-decoration: none;
    color: var(--cinza-medio);
}

.cabecalho__login-cadastrar {
    color: white;
    border: 1px solid var(--vinho);
    background-color: var(--vinho);
    padding: .7em 1em;
    border-radius: 5px;
}

/* seção de Apresentação */
.apresentacao {
    display: grid;
    grid-area: apresentacao;
    grid-template-rows: 1fr 1fr 1fr;     
    text-align: center;
    width: 85vw;
    margin: 4em 0;
    justify-self: center;
    row-gap: 3em;        
}

.apresentacao__titulo-secundario {
    font-weight: 600;
    color: var(--vinho);
}

.apresentacao__titulo-principal {
    font-size: 48px;
    font-weight: 600;
    color: var(--preto-principal);
}

.apresentacao__texto {
    font-size: 20px;
    color: var(--cinza-medio);
    line-height: 1.5em;
}

/* sessão de métricas */
.metricas {
    display: grid;
    grid-area: metricas;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    align-items: center;
    margin: 0 6em 3em 6em;
    column-gap: 3em;      
}

.metricas__sessao-numeros {    
    font-size: 60px;
    font-weight: 600;
    color: var(--vinho);
}

.metricas__sessao-titulo {    
    font-size: 18px;
    font-weight: 500;
    color: var(--preto-principal);
    margin: 2em 0;
}

.metricas__sessao-text {    
    color: var(--cinza-medio);
}

/* sessão conteudo */
.conteudo {
    display: grid;
    grid-area: conteudo;       
    text-align: center;
    align-items: center;
    
    margin: 4em 0;
    justify-self: center;
    row-gap: 3em;      
}

.conteudo__titulo_secundario {
    background: var(--fundo-rosa-titulo);
    width: 8vw;
    justify-self: center;
    padding: .5em;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    color: var(--vinho);
}

.conteudo__titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--preto-principal);
}

.conteudo__texto {
    font-size: 20px;
    color: var(--cinza-medio);
}

.conteudo__imagem {
    width: 90vw;
}